{% extends 'base.html.twig' %}

{% block title %}Funbox | Accueil{% endblock %}

    {% block content %}
        <h1 id="images">Accueil</h1>
        {% for contenus in contenusAll %}
            <div class="colcontent">
                <h2><strong>{{ contenus.titre }}</strong></h2>
                <span>{{ contenus.auteur }} </span>
                <p id="date">&nbsp;. {{ contenus.date|date('d-m-Y') }} . {{ contenus.date|date('H:i') }}</p>
            </div>
            <div>
                <img src="{{ asset('ImgUpload/') ~contenus.file }}" class="img-fluid" alt="content">
            </div>
            <div class="footcontent">
                {% include '@FOSComment/Thread/async.html.twig' with {'id': 'foo'} %}
            </div>
            <hr/>
        {% endfor %}
        {% for videos in videosAll %}
            <div class="colcontent">
                <h2><strong>{{ videos.titre }}</strong></h2>
                <span>{{ videos.auteur }} </span>
                <p id="date">&nbsp;. {{ videos.date|date('d-m-Y') }} . {{ videos.date|date('H:i') }}</p>
            </div>
            <div>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/{{ videos.file }}"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
            <div class="footcontent">
                {% include '@FOSComment/Thread/async.html.twig' with {'id': 'foo'} %}
            </div>
            <hr/>
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(contenusAll) }}
        </div>
    {% endblock %}