{% extends 'base.html.twig' %}

{% block title %}Funbox | Accueil{% endblock %}

    {% block content %}
        <h1 id="images">Accueil</h1>
        {% for contenus in contenusAll %}
            <div class="colcontent">
                <h2><strong>{{ contenus.titre }}</strong></h2>
                <span>{{ contenus.auteur }} </span>
            </div>
            <div>
                <img src="{{ asset('ImgUpload/') ~contenus.file }}" class="img-fluid" alt="content">
            </div>
            <div class="footcontent">
                <p id="date">Crée le <strong>{{ contenus.date|date('d-m-Y') }}</strong> à <strong>{{ contenus.date|date('H:i') }}</strong></p>
                <ul class="btn-vote">
                    <li><a href="/commentaires/images/{{ contenus.id }}" class="comment"><i class="far fa-comment-alt"></i></a><span id="post-meta">{{ contenus.id }}</span></li>
                </ul>
            </div>
            <hr/>
        {% endfor %}
        {% for videos in videosAll %}
            <div class="colcontent">
                <h2><strong>{{ videos.titre }}</strong></h2>
                <span>{{ videos.auteur }} </span>
                <p id="date">&nbsp;. {{ videos.date|date('d-m-Y') }} . {{ videos.date|date('H:i') }}</p>
            </div>
            <div>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/{{ videos.file }}"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
            <div class="footcontent">
                <p id="date">Crée le <strong>{{ videos.date|date('d-m-Y') }}</strong> à <strong>{{ videos.date|date('H:i') }}</strong></p>
                <ul class="btn-vote">
                    <li><a href="/commentaires/videos/{{ videos.id }}" class="comment"><i class="far fa-comment-alt"></i></a><span id="post-meta">{{ videos.id }}</span></li>
                </ul>
            </div>
            <hr/>
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(contenusAll) }}
        </div>
    {% endblock %}