{% extends 'base.html.twig' %}

{% block title %}Funbox | Videos{% endblock %}

    {% block content %}
        <h1 id="images">Videos</h1>
        {% for videos in videosAll %}
            <div class="colcontent">
                <h2><strong>{{ videos.titre }}</strong></h2>
                <span>{{ videos.auteur }} </span>
            </div>
            <div>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/{{ videos.file }}"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
            <div class="footcontent">
                <p id="date">Crée le <strong>{{ videos.date|date('d-m-Y') }}</strong> à <strong>{{ videos.date|date('H:i') }}</strong></p>
                <ul class="btn-vote">
                    <li><a href="#" class="comment"><i class="far fa-comment-alt"></i></a><span id="post-meta">152</span></li>
                </ul>
            </div>
            <hr/>
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(videosAll) }}
        </div>
    {% endblock %}