{% extends 'base.html.twig' %}


{% block register %}
    <div class="container register-form">
    <div class="form">
        <div class="note">
            <h2>Crée ton compte !</h2>
        </div>
        {{ form_start(registrationForm) }}
        <div class="form-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_row(registrationForm.username) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(registrationForm.email) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(registrationForm.imgProfil) }}
                        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-2">
                            Format carré ( ex: 200x200, 400x400 )
                        </small>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_row(registrationForm.plainPassword) }}
                    </div>
                </div>
            </div>
            {{ form_row(registrationForm.submit) }}
        </div>
        {{ form_end(registrationForm) }}
        {% for message in app.flashes('success') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

