{% extends 'base.html.twig' %}

{% block title %}Funbox | Commentaire de ( photo ){% endblock %}

    {% block content %}
        <h1 id="images">Images</h1>
        {% for contenus in contenusAll %}
            <div class="colcontent">
                <h2><strong>{{ contenus.titre }}</strong></h2>
                <span>{{ contenus.auteur }} </span>
            </div>
            <div>
                <img src="{{ asset('ImgUpload/') ~contenus.file }}" class="img-fluid" alt="content">
            </div>
            <div class="footcontent">
                <p id="date">Crée le <strong>{{ contenus.date|date('d-m-Y') }}</strong> à <strong>{{ contenus.date|date('H:i') }}</strong></p>
                <ul class="btn-vote">
                    <li><a href="#" class="comment"><i class="far fa-comment-alt"></i></a><span id="post-meta">152</span></li>
                </ul>
            </div>
                {#{% include '@FOSComment/Thread/async.html.twig' with {'id': 'foo'} %}#}
            <hr/>
        {% endfor %}
    {% endblock %}